/* 
  VARIABLES 
*/

// COLOR
$orange           : #ff9800;
$orange-action    : #e15a0f;
$red-negative     : #d50000;
$orange-press     : #a71500;
$white            : #ffffff;
$gray-fondo       : #eeeeee;
$gray-disable     : #dbdbdb;
$gray-placeholder : #999999;
$gray1            : #a4aab6;
$gray2            : #868c99;
$gray3            : #3a3f4a;
$gray4            : #666666;
$gray5            : #333333;
$black            : #000000;
$aqua-success     : #0fc88d;
$blue             : #064684;
$message-info     : #d9e6f2;

// GENERAL
$border-radius: 4px;
$box-shadow: 0 2px 2px rgba(0, 2px, 2px, .1);
